@font-face {
  font-family: 'hangeul';
  src: url(../font/HangeulNuriB.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hangeul';
  src: url(../font/HangeulNuriR.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  color: #333;
  /* outline: 1px solid red; */
}
html{
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
body{
  font-family: 'hangeul';
  background: #F8F7F4;
}

button{
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
.container{
  width: 1200px;
  max-width: 100%;
  margin: auto;
}
main {
  width: 100%;
  margin:auto;
  padding-top: 66px;
}
